@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
 background-size: cover;
  
}

/* Text.css */

/* @keyframes slide {
  0%, 100% {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
  }
  1%, 100% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
} */

@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  1%, 99% {
    opacity: 0.5;
  }
  50% {
    transform: translateX(20%);
    opacity: 0;
  }
}


.animated-slide {
  position: relative;
  animation: slide 8s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.animated-slide span {
  display: inline-block;
  animation: slide 8s linear infinite;
  opacity: 0;
}

.animated-slide span:nth-child(1) {
  animation-delay: 1s; /* Atraso para a primeira letra */
}

.animated-slide span:nth-child(2) {
  animation-delay: 2s; /* Atraso para a segunda letra */
}



/* card */
@keyframes rotateCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.shiny-card {
  animation: rotateCard 5s linear infinite;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}



